{% import "macros.twig" as macros %}
<a href="{{ url ? url : '#' }}" {% if url %} data-fslightbox {% endif %} class="lazy-player">
    <img src="./assets/images/poster@3@L.jpg" alt="постер к видео" class="lazy-player__poster">
    {{ macros.icon('play-btn') }}
</a>