body, p, ol, ul, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

ol, ul{
  padding: 0;
}

body{
  font-family: $main-font;
}

input, textarea{
  font-family: inherit;

  &::placeholder{
    font-family: inherit;
  }
}

.title{
  color: black;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}

.title-section{
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding-top: 16px;

  @media (min-width: 768px){
    font-size: 30px;
    line-height: 37px;
  }

  &:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 74px;
    height: 5px;
    background: $second-color;
  }
}

.description-section{
  font-size: 14px;
  line-height: 26px;

  @media (min-width: 768px){
    font-size: 16px;
    line-height: 30px;
  }

  span{
    color: $second-color;
  }
}

.main{
  max-width: 500px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: 768px){
    max-width: 768px;
  }

  &__title{
    margin: 41px 0 11px;

    @media (min-width: 768px){
      margin: 56px 0 30px;
    }
  }
}

.promo{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0 36px;

  @media (min-width: 768px){
    gap: 20px;
    padding: 60px 0 56px;
  }

  &__title{
    font-size: 17px;
    font-weight: 600;
    line-height: 37px;

    @media (min-width: 768px){
      font-size: 30px;
      line-height: 63px;
    }

    span{
      font-size: 30px;
      font-weight: 800;
      line-height: inherit;
      color: $second-color;
      text-transform: uppercase;

      @media (min-width: 768px){
        font-size: 40px;
        line-height: 52px;
      }
    }
  }

  &__advantages{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 34px;

    &-item{
      font-size: 14px;
      line-height: 24px;

      @media (min-width: 768px){
        font-size: 16px;
        padding-left: 10px;
      }

      &::marker{
        font-size: 24px;
        color: #EA6628;
        line-height: 24px;
      }
    }
  }
}

.steps{
  margin-bottom: 43px;

  @media (min-width: 768px) {
    margin-bottom: 55px;
  }

  &__title{
    margin-bottom: 18px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    counter-reset: index 0;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    li{
      position: relative;
      font-size: 14px;
      line-height: 26px;
      padding-left: 45px;
      min-height: 50px;

      @media (min-width: 768px) {
        width: calc(50% - 70px);
      }

      &:before{
        position: absolute;
        content: counter(index);
        counter-increment: index;
        top: 0;
        right: calc(100% - 30px);
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        color: $second-color;
        opacity: 0.2;
        min-width: 35px;
        text-align: center;
      }
    }
  }
}

.why-we{
  margin-bottom: 41px;

  &__title{
    margin-bottom: 28px;

    @media (min-width: 768px) {
      margin-bottom: 37px;
    }
  }

  &__advantages{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 24px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 50px;
    }

    &-item{
      max-width: 354px;
    }

  }
}

.consultation{
  text-align: center;

  &__title{
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    text-transform: uppercase;

    @media (min-width: 768px){
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 10px;
    }
  }

  &__text{
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;

    @media (min-width: 768px){
      font-size: 16px;
      line-height: 30px;
    }
  }

  &__social-networks{
    margin: 23px auto 27px;
    gap: 40px;

    @media (min-width: 768px){
      margin: 28px auto 34px;
    }
  }

  &__form{
    padding: 25px 0 48px;
    border-top: 1px solid $grey;

    @media (min-width: 768px){
      border: none;
      box-shadow: 0 4px 50px rgba(0, 0, 0, 0.15);
      padding: 49px 0 47px;
      margin-bottom: 58px;
    }
    
    &-title{
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 10px;

      @media (min-width: 768px){
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 12px;
      }
      
      span{
        color: #EA6628;
        font-weight: 700;
      }
    }

    &-description{
      text-align: center;
      font-size: 14px;
      line-height: 25px;

      @media (min-width: 768px){
        font-size: 16px;
        line-height: 30px;
      }
    }

    &-fields{
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 27px auto 24px;
      max-width: 354px;

      @media (min-width: 768px){
        margin: 22px auto 25px;
      }
    }

    &-field{
      width: 100%;
      padding: 17px;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      border: 1px solid $grey;
      border-radius: 4px;

      &::placeholder{
        color: #B1B1B1;
      }
    }

    &-btn{
      display: block;
      color: white;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      background: #215359;
      border-radius: 4px;
      border: none;
      padding: 18px 40px;
      margin: 0 auto;
      cursor: pointer;
    }
  }
}

.montage{
  margin-bottom: 48px;

  @media (min-width: 768px){
    margin-bottom: 56px;
  }

  &__title{
    margin-bottom: 28px;

    @media (min-width: 768px){
      margin-bottom: 34px;
    }
  }

  &__description{
    margin-bottom: 24px;

    @media (min-width: 768px){
      margin-bottom: 34px;
    }
  }
}

.portfolio{
  margin-bottom: 56px;

  &__title{
    margin-bottom: 16px;

    @media (min-width: 768px){
      margin-bottom: 34px;
    }
  }

  &__description{
    margin-bottom: 16px;

    @media (min-width: 768px){
      margin-bottom: 36px;
    }
  }
}

