body, p, ol, ul, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

ol, ul{
  padding: 0;
}

body{
  font-family: $main-font;
}

input, textarea{
  font-family: inherit;

  &::placeholder{
    font-family: inherit;
  }
}

.title{
  color: black;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}

.title-section{
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding-top: 16px;

  &:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 74px;
    height: 5px;
    background: $second-color;
  }
}

.description-section{
  font-size: 14px;
  line-height: 26px;

  span{
    color: $second-color;
  }
}

.main{
  max-width: 290px;
  margin: 0 auto;

  &__title{
    margin: 41px 0 11px;
  }
}

.promo{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0 36px;

  &__title{
    font-size: 17px;
    font-weight: 600;
    line-height: 37px;

    span{
      font-size: 30px;
      font-weight: 800;
      line-height: inherit;
      color: $second-color;
      text-transform: uppercase;
    }
  }

  &__advantages{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 34px;

    &-item{
      font-size: 14px;
      line-height: 24px;

      &::marker{
        font-size: 24px;
        color: #EA6628;
        line-height: 24px;
      }
    }
  }
}

.steps{
  margin-bottom: 43px;

  &__title{
    margin-bottom: 18px;
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    counter-reset: index 0;

    li{
      position: relative;
      font-size: 14px;
      line-height: 26px;
      padding-left: 45px;

      &:before{
        position: absolute;
        content: counter(index);
        counter-increment: index;
        top: 0;
        right: calc(100% - 30px);
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        color: $second-color;
        opacity: 0.2;
      }
    }
  }
}

.why-we{
  margin-bottom: 41px;

  &__title{
    margin-bottom: 28px;
  }

  &__advantages{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 24px;

  }
}

.consultation{
  text-align: center;

  &__title{
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__text{
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
  }

  &__social-networks{
    margin: 23px auto 27px;
    gap: 40px;
  }

  &__form{
    padding: 25px 0 48px;
    border-top: 1px solid $grey;
    
    &-title{
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 10px;
      
      span{
        color: #EA6628;
      }
    }

    &-description{
      text-align: center;
      font-size: 14px;
      line-height: 25px;
    }

    &-fields{
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 27px 0 24px;
    }

    &-field{
      width: 100%;
      padding: 17px;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      border: 1px solid $grey;
      border-radius: 4px;

      &::placeholder{
        color: #B1B1B1;
      }
    }

    &-btn{
      display: block;
      color: white;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      background: #215359;
      border-radius: 4px;
      border: none;
      padding: 18px 40px;
      margin: 0 auto;
      cursor: pointer;
    }
  }
}

.montage{
  margin-bottom: 48px;

  &__title{
    margin-bottom: 28px;
  }

  &__description{
    margin-bottom: 24px;
  }
}

.portfolio{
  margin-bottom: 56px;

  &__title{
    margin-bottom: 16px;
  }

  &__description{
    margin-bottom: 16px;
  }
}

